/* CSS reset by Josh Comeau */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  color-scheme: light dark;
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font: inherit;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/* STYLES */
:root {
  --fm-fraun: "Fraunces", system-ui, sans-serif;
  --fm-manrope: "Manrope", system-ui, sans-serif;

  --fm-heading: var(--fm-fraun);
  --fm-body-txt: var(--fm-manrope);

  --clr-accent-100: #fff;
  --clr-accent-400: #44ffa1;
  --clr-hero: #24053e;
  --clr-main-txt: #000;

  --fz-btn: var(--size-300);
  --fz-hero: var(--size-600);
  --fz-body-txt: var(--size-300);

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-nav-btn: var(--fw-600);

  --size-100: 0.5rem;
  --size-200: 0.8rem;
  --size-300: 1rem;
  --size-400: 2rem;
  --size-500: 3rem;
  --size-600: 4rem;
  --size-700: 5rem;
  --size-800: 6rem;
  --size-900: 7rem;
}
body {
  font-size: var(--fz-body);
  font-family: var(--fm-body-txt);
  min-height: 100dvh;
  background-color: var(--clr-accent-100);
  /* max-width: 100dvw; */
  overflow-x: hidden;
}

/* HEADER */
header {
  position: relative;
}
.wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 80%;

  z-index: -999;
  background-color: var(--clr-hero);
  clip-path: ellipse(160% 100% at 50% 0%);
}
@media ((min-width: 500px) and (max-width: 800px)) {
  .wrapper::before {
    inset: 0 0 20% 0;
  }
}
@media (min-width: 801px) {
  .wrapper::before {
    inset: 0 0 25% 0;
  }
}

.logo > img {
  width: var(--size-900);
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-700);
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-400);
}
.underline {
  border-bottom: 4px solid var(--clr-accent-400);
}
.hero__content h1 {
  font-size: var(--fz-hero);
  text-align: center;
  font-family: var(--fm-fraun);
  font-weight: 400;
  letter-spacing: -2px;
  margin-block-start: 1rem;
}
@media (min-width: 650px) and (max-width: 1040px) {
  .hero__content h1 {
    font-size: var(--size-700);
    letter-spacing: 0;
  }
}
@media (min-width: 1041px) {
  .hero__content h1 {
    font-size: var(--size-800);
    letter-spacing: 0;
  }
}
.hero__image {
  max-width: 95%;
}
.hero-btn {
  font-weight: 600;
}
@media (width> 480px) {
  .hero__image {
    width: min(95%, 770px);
  }
}
.pattern-wrapper {
  overflow-x: hidden;
}
.pattern {
  position: absolute;
  z-index: -1;
}
.pt-1,
.pt-2 {
  visibility: hidden;
}

@media ((min-width: 720px) and (max-width: 1040px)) {
  .pt-1,
  .pt-2 {
    visibility: visible;
  }
  .pt-1 {
    top: 12%;
    left: 0;
    translate: -50%;
  }
  .pt-2 {
    top: 30%;
    right: 0;
    /* translate: 20%; */
  }
}
@media (min-width: 1041px) {
  .pt-1,
  .pt-2 {
    visibility: visible;
  }
  .pt-1 {
    top: 15%;
    left: 0;
  }
  .pt-2 {
    position: absolute;
    top: 30%;
    right: 0;
    /* transform: translateX(50px); */
  }
}
/* MAIN */
main {
  color: var(--clr-main-txt);
  font-family: var(--fm-body-txt);
}
.even-columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--size-500);
}
@media (min-width: 1041px) {
  .even-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: var(--size-300);
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  min-height: 100%;
}
@media (min-width: 700px) and (max-width: 1040px) {
  .card {
    flex-direction: row;
    justify-content: space-between;
    gap: var(--size-600);
  }
}
@media (min-width: 1041px) {
  .card {
    display: block;
  }
}

.cta-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-400);
}
.cta-content p {
  text-align: center;
  line-height: 2;
}
@media (min-width: 700px) and (max-width: 1040px) {
  .cta-content {
    display: flex;
    flex-direction: column;
    gap: var(--size-400);
    align-items: flex-start;
    text-align: start;
  }
  .cta-content p {
    text-align: start;
  }
}
@media (min-width: 1041px) {
  .cta-content {
    display: block;
  }
}
.numbered {
  aspect-ratio: 1;
  width: var(--size-500);
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
@media (min-width: 1041px) {
  .numbereds-list {
    margin-block-end: var(--size-500);
    display: flex;
    justify-content: center;
  }
}
.cta-content h2 {
  font-weight: var(--fw-400);
  letter-spacing: -1px;
}
@media (min-width: 1041px) {
  .cta-content h2 {
    margin-block-end: var(--size-400);
    text-align: center;
  }
}
/* FOUNDER IMG AND MESSAGE */
.founder-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.founder-image img {
  width: min(280px, 90%);
}
@media (min-width: 800px) and (max-width: 1040px) {
  .founder-image {
    justify-content: flex-start;
  }
}
.founder__message-wrapper {
  padding: var(--size-400);
  background-color: var(--clr-hero);
  color: #fff;
  text-align: center;
  width: min(100%, 730px);
  transform: translateY(-10%);
}
.founder__message-wrapper h3 {
  font-size: 2.5rem;
  letter-spacing: -2px;
  margin-block-end: var(--size-400);
  font-weight: var(--fw-500);
}
.founder__message-wrapper p {
  line-height: 2.5;
  margin-block-end: var(--size-400);
}
.founder__message-wrapper button {
  font-weight: 600;
}
.founder__message-wrapper {
  position: relative;
}
.pt-3 {
  position: absolute;
  right: 10%;
  bottom: -20%;
}
@media (max-width: 800px) {
  .pt-3 {
    display: none;
  }
}
@media (min-width: 800px) and (max-width: 1040px) {
  .founder__message-wrapper {
    width: max(70%, 504px);
    transform: translate(35%, -30%);
    text-align: start;
  }
  .founder__message-wrapper p {
    line-height: 1.8;
  }
  .founder__message-wrapper button {
    padding-inline: 2.5rem;
  }
}
@media (min-width: 1041px) {
  .founder-image {
    justify-content: start;
    padding-inline: 2rem;
  }

  .founder-image img {
    width: min(calc(100% - 4rem), 477px);
  }
  .founder__message-wrapper {
    width: min(calc(70% - 2rem), 800px);
    text-align: start;
    transform: translate(50%, -50%);
    padding: var(--size-500);
  }
  .founder__message-wrapper h3 {
    font-size: var(--size-500);
  }
  .founder__message-wrapper button {
    font-size: 1.1rem;
    padding-inline: 2.7rem;
  }
}
/* FOOTER */
footer {
  padding-block-end: var(--size-900);
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 4rem;
  justify-items: center;
}
.social-icons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.social-icons img {
  aspect-ratio: 1;
  width: 1.5rem;
}
@media (min-width: 1041px) {
  section.founder {
    padding-block-end: 0;
  }
}
/* HOVER EFFECT */
.btn,
.nav-btn,
.social-icons img {
  transition: all 300ms ease;
  cursor: pointer;
  user-select: none;
}
.btn:hover,
.btn:focus-visible,
.social-icons img:hover,
.social-icons img:focus-visible {
  transform: scale(1.2);
}
.nav-btn:hover,
.nav-btn:focus-visible {
  transform: scale(1.2);
}
/* Utility Class */
.container {
  --max-width: 1440px;
  --container-padding: 1rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}
@media ((min-width: 500px) and (max-width: 1040px)) {
  .container {
    padding-inline: var(--size-400);
  }
}
@media (min-width: 1041px) {
  .container {
    padding-inline: var(--size-800);
  }
}
.mg-auto {
  margin-inline: auto;
}

.padding-block-500 {
  padding-block: var(--size-500);
}
.padding-block-600 {
  padding-block: var(--size-600);
}
.padding-block-700 {
  padding-block: var(--size-700);
}
.padding-block-900 {
  padding-block: var(--size-900);
}
.padding-inline-100 {
  padding-inline: var(--size-100);
}

.justify-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  padding: 0.8rem 1rem;
  background-color: var(--clr-accent-400);
  color: #000;
  border: 0;
}
.nav-btn {
  font-size: 1.2rem;
  font-weight: var(--fw-nav-btn);
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid var(--clr-accent-400);
}
.heading {
  font-family: var(--fm-heading);
}
